/*
 * Common styles
 */

:root {
    --main: #111;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* useful for sticky footer */
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Roboto, Arial, sans-serif;
    color: var(--main);
}

main {
    flex: 1 0 auto;
}

/* Hero */

.hero {
    height: 100vh;
    min-height: 600px;
    padding-top: 4rem;
}

.hero-function {
    font-size: 1rem;
    font-weight: 400;
}

.hero-title {
    margin-top: 8rem;
    margin-left: 30%;
    margin-bottom: 4rem;
    width: fit-content;
    font-size: 2.8rem;
    font-weight: 600;
    opacity: 0;
    animation: fade-up 1s forwards;
}

.hero-description {
    margin-left: 30%;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    animation: fade-up 1s .5s forwards;
}

.hero + .section {
    margin-top: -11rem;
}

.section {
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 8rem;
}

.section-title {
    margin-left: 30%;
    margin-bottom: 5rem;
    width: fit-content;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    background-repeat: repeat-x;
    background-size: 1px 50%;
    background-position: 0 100%;
}

.email {
    margin-left: 30%;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .hero {
        height: initial;
        min-height: initial;
        padding-top: 2rem;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-title,
    .hero-description {
        margin-left: 0;
    }

    .hero + .section {
        margin-top: 0;
    }

    .section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-title {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .section-content {
        padding: 1rem;
    }

    .email {
        margin-left: 0;
    }
}

/* Projects */

.project {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 4rem;
}

.project-info {
    width: 30%;
    font-size: 1.1rem;
    font-weight: 400;
}

.project-image {
    align-self: flex-start;
    width: 70%;
}

.project-title,
.project-subtitle,
.project-date {
    font-size: inherit;
    font-weight: inherit;
}

@media screen and (max-width: 800px) {
    .project {
        flex-direction: column;
    }

    .project-info {
        font-size: 1rem;
    }

    .project-title {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .project-info,
    .project-image {
        width: 100%;
    }
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 5rem;
    font-size: .8rem;
}

@media screen and (max-width: 800px) {
    .footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
