/*
 * Common styles
 */

:root {
    --text-color: #111;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* useful for sticky footer */
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Roboto, Arial, sans-serif;
    color: var(--text-color);
}

main {
    flex: 1 0 auto;
}

/* Hero */

.hero {
    position: relative;
    height: 100vh;
    min-height: 600px;
    text-align: center;
}

.hero-title {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    animation: fade-up 1s forwards;
}

.hero-description {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 1.3rem;
    opacity: 0;
    animation: fade-up 1s .5s forwards;
}

.hero-title,
.hero-description {
    padding: 0 2rem;
}

.hero + .section {
    margin-top: -11rem;
}

.section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 5rem;
}

#contact {
    margin-bottom: 5rem;
    align-items: flex-end;
}

.section-title {
    flex-shrink: 0;
    margin-right: 10rem;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}

.section-title::before {
    content: '/';
    margin-right: .5rem;
    color: #19a89c;
}

.section-content {
    padding: 5rem;
}

.email {
    font-size: 2rem;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

@media (min-width: 800px) {
    .section-title {
        position: sticky;
        top: 1em;
        width: 6em;
    }
}

@media screen and (max-width: 800px) {
    .hero-title {
        font-size: 2rem;
    }

    .section {
        flex-direction: column;
        padding: 1rem;
    }

    #contact {
        align-items: flex-start;
    }

    .section-title {
        font-size: 8vw;
        margin-bottom: 2rem;
    }

    .section-content {
        padding: 1rem;
    }

    .email {
        font-size: 1.5rem;
    }
}

/* Projects */

.project {
    display: block;
    position: relative;
    text-decoration: none;
    margin-bottom: 2rem;
}

.project-image {
    width: 100%;
}

.project-title,
.project-subtitle {
    font-size: 1.3rem;
    font-weight: 500;
    margin: .5rem 0;
}

.project-subtitle {
    display: none;
}

.project:hover .project-title {
    display: none;
}

.project:hover .project-subtitle {
    display: block;
}

@media screen and (max-width: 800px) {
    .project {
        width: 100%;
    }

    .project-title,
    .project-subtitle {
        font-size: 1.1rem;
    }
}

.footer {
    padding-bottom: 2rem;
}

.footer-copyright {
    font-size: .9em;
    color: #999;
    text-align: center;
}