input,
button,
textarea { /* initial style */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-field {
    padding: 8px;
    margin-bottom: 16px;
    color: currentColor;
    border: 1px solid var(--line-color);
    border-radius: 3px;
}

.textarea {
    resize: none;
}

.button {
    display: block;
    width: fit-content;
    font-size: 1rem;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .15s;
    color: var(--light-color);
    background: var(--dark-color);
    border: 1px solid var(--dark-color);
    cursor: pointer;
}

.button:hover {
    color: var(--dark-color);
    background: var(--light-color);
    border: 1px solid var(--dark-color);
}

.button.light {
    color: var(--dark-color);
    background: var(--light-color);
    border: 1px solid currentColor;
}

.button.light:hover {
    color: var(--light-color);
    background: var(--dark-color);
    border: 1px solid var(--dark-color);
}

.button.transparent {
    color: var(--light-color);
    background: var(--background-color);
    border: 1px solid var(--light-color);
}

.button.transparent:hover {
    color: var(--background-color);
    background: var(--light-color);
    border: 1px solid var(--background-color);
}

.arrow-link {
    color: var(--secondary-color);
    background: none;
    border: none;
}

.arrow-link::after {
    content: '\2192'; /* right arrow */
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
    transition: transform .3s;
}

.arrow-link:hover::after {
    transform: translateX(.5em);
}
