input,
button,
textarea { /* initial style */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-form label {
    position: relative;
}

.form-field {
    width: 100%;
    padding: 16px 0;
    margin-bottom: 24px;
    color: currentColor;
    border-bottom: 1px solid var(--line-color);
    outline: none;
    transition: border-color .3s;
}

.requirement {
    opacity: 0;
    position: absolute;
    display: block;
    margin-top: -1.5em;
    font-size: .8em;
    font-style: italic;
    color: var(--red);
    transition: opacity .3s;
}

.form-field:focus {
    border-color: var(--dark-color);
}

.form-field:valid {
    border-color: var(--green);
}

.form-field:invalid:not(:focus):not(:placeholder-shown) {
    border-color: var(--red);
}

.form-field:invalid:not(:focus):not(:placeholder-shown) ~ .requirement {
    opacity: 1;
}

.textarea {
    resize: none;
}

.button {
    display: block;
    width: fit-content;
    padding: .8em 1.2em;
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
    background: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s;
}

.button:hover {
    background-color: var(--secondary-color-dark);
    text-decoration: none;
}

.button.light {
    color: var(--secondary-color-dark);
    background-color: var(--light-color);
    border: 1px solid var(--secondary-color-dark);
    transition: color .2s, background-color .2s;
}

.button.light:hover {
    color: white;
    background-color: var(--secondary-color-dark);
    border: 1px solid var(--secondary-color-dark);
}

.button.transparent {
    color: var(--light-color);
    background: var(--background-color);
    border: 1px solid var(--light-color);
    transition: color .2s, background-color .2s;
}

.button.transparent:hover {
    color: var(--background-color);
    background: var(--light-color);
}

.line-link {
    width: fit-content;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    background: none;
    border: none;
    text-decoration: none !important;
}

.line-link::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--secondary-color);
    margin-right: .5em;
    transition: width .2s;
}

.line-link:hover::before {
    width: 30px;
}

.link-style-none {
    color: inherit !important;
    text-decoration: none !important;
}
