input,
button,
textarea { /* initial style */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-form label {
    position: relative;
}

.form-field {
    width: 100%;
    padding: 16px;
    margin-bottom: 24px;
    color: currentColor;
    border: 1px solid var(--line-color);
    outline: none;
    transition: border-color .3s;
}

.requirement {
    opacity: 0;
    position: absolute;
    display: block;
    margin-top: -1.8em;
    font-size: .8em;
    font-style: italic;
    color: var(--red);
    transition: opacity .3s;
}

.form-field:focus {
    border-color: var(--dark-color);
}

.form-field:valid {
    border-color: var(--green);
}

.form-field:invalid:not(:focus):not(:placeholder-shown) {
    border-color: var(--red);
}

.form-field:invalid:not(:focus):not(:placeholder-shown) ~ .requirement {
    opacity: 1;
}

.textarea {
    resize: none;
}

.form-field, .button {
    border-radius: 3px;
}

.button {
    display: block;
    width: fit-content;
    font-size: 1rem;
    padding: .5em 1em;
    color: white;
    background: var(--dark-color);
    border: 1px solid var(--dark-color);
    text-decoration: none;
    cursor: pointer;
    transition: background-color .15s;
}

.button:hover {
    background: #203041;
    text-decoration: none;
}

.button--light {
    color: var(--dark-color);
    background: var(--light-color);
    border: 1px solid var(--line-color);
    transition: border-color .2s;
}

.button--light:hover {
    background: var(--light-color);
    border: 1px solid var(--dark-color);
}

.button.transparent {
    color: var(--light-color);
    background: var(--background-color);
    border: 1px solid var(--light-color);
}

.button.transparent:hover {
    color: var(--background-color);
    background: var(--light-color);
}

.arrow-link {
    width: fit-content;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    background: none;
    border: none;
    text-decoration: none !important;
}

.arrow-link::after {
    content: '\2192'; /* right arrow */
    margin-left: .5em;
    transition: transform .3s;
}

.arrow-link:hover::after {
    transform: translateX(.5em);
}
