@keyframes blinker {
    to {
        visibility: hidden;
    }
}

.blink {
    /*animation: blinker 0.5s linear infinite;*/
    animation: blinker 1s steps(2, start) infinite;
}

html {
    background-color: #00a;
}

body {
    margin: 0;
    color: white;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

::selection {
    color: #262626;
    background: #ffe211; /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #262626;
    background: #ffe211; /* Gecko Browsers */
}

a,
a:visited {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #00a;
    background-color: #eee;
}

time {
    color: #898989;
}

/* Navigation menu */
#nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#nav-container nav {
    float: left;
    max-width: 800px;
    margin: 0 auto;
}

#nav-container nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-container nav ul li {
    float: left;
    position: relative;
    padding: 15px;
}

#nav-container nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .2em .5em;
    line-height: 20px;
    margin-bottom: -1px;
    box-shadow: initial;
}

#nav-container nav ul li a:hover, #nav-container nav ul li a:active {
    text-decoration: none;
    color: #00a;
}

main article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

main article .whole-page-container {
    width: 800px;
}

main article .whole-page-container h1 {
    text-align: center;
}

main article .whole-page-container h1 span {
    color: #00a;
    background-color: #eee;
    padding: .1em .3em;
}

main article .whole-page-container .align-right {
    text-align: right;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em 4em;
    font-size: .6em;
}
