@keyframes blinker {
    to {
        visibility: hidden;
    }
}

.blink {
    /*animation: blinker 0.5s linear infinite;*/
    animation: blinker 1s steps(2, start) infinite;
}

html {
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
}

::selection {
    color: #262626;
    background: #ffe211; /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #262626;
    background: #ffe211; /* Gecko Browsers */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.window {
    position: relative;
    display: flex;
    width: 50%;
    min-width: 320px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 30px 100px #ccc;
    background-color: #fefefe;
}

.circle-button {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 24px;
    left: 24px;
    border-radius: 100%;
    background-color: #E1E1E1;
}

.circle-button.unavailable {
    background-color: #FA4B49;
}

.circle-button.partially-available {
    background-color: #FDBE41;
    left: calc(24px + 12px + 15px);
}

.circle-button.available {
    background-color: #34C849;
    left: calc(24px + (12px + 15px) * 2);
}

h1 {
    margin-top: .3em;
}

h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: #9aa4ae;
}

nav {
    width: 25%;
    min-width: 120px;
    margin-top: 30px;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
}

nav h3 {
    padding-left: 8px;
    font-size: .8em;
    text-transform: uppercase;
    color: #879099;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    padding: .7em 0;
}

nav ul li a,
nav ul li a:visited {
    color: #404040;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
}

nav ul li a:hover, .current a {
    color: #fff;
    background: linear-gradient(to bottom right, #2da6fc, #2ed5fd);
}

main {
    width: 70%;
    min-width: 200px;
    padding: 60px;
    box-shadow: -5px 0 20px -5px #eee;
}

.help-icon {
    position: absolute;
    bottom: 25px;
    right: 30px;
    padding: 3px 8px;
    color: #2a9ced;
    background-color: #fff;
    border-radius: 32px;
    border: 1px solid lightgray;
    font-weight: 500;
}
