/** Components **/

/* Headings */

h1, h2, h3, h4, h5, h6 { /* Reboot */
    margin-top: 0;
    margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

/* Buttons */

.btn {
    display: inline-block;
    width: fit-content;
    margin-top: 1.5em;
    padding: .3em .8em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color .3s, background-color .3s, border-color .2s;
}

.btn-primary {
    color: #fff;
    background-color: #282828;
}

.btn-primary:hover {
    background-color: #000;
}

.btn-outline-primary {
    color: #000;
    background-color: transparent;
    border-color: #000;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #000;
}

.btn-outline-light {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-outline-light:hover {
    color: #000;
    background-color: #fff;
}

/* Forms */

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-form label {
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 24px;
    color: currentColor;
    border-bottom: 1px solid #ddd;
    outline: none;
    transition: border-color .3s;
}

.form-text {
    opacity: 0;
    position: absolute;
    display: block;
    margin-top: -1.5em;
    font-size: .8em;
    font-style: italic;
    transition: opacity .3s;
}

.form-control:focus {
    border-color: #222222;
}

.form-control:valid {
    border-color: #22863a;
}

.form-control:invalid:not(:focus):not(:placeholder-shown) {
    border-color: #d73a49;
}

.form-control:invalid:not(:focus):not(:placeholder-shown) ~ .form-text {
    opacity: 1;
}

.textarea {
    resize: none;
}

/* Links */

.line-link {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #0070c9;
    background: none;
    border: none;
    text-decoration: none !important;
}

.line-link::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #0070c9;
    margin-right: .5em;
    transition: width .2s;
}

.line-link:hover::before {
    width: 30px;
}

.link-style-none {
    color: inherit !important;
    text-decoration: none !important;
}

.link {
}

.link::after {
    content: '';
    display: inline-block;
    margin-left: .3em;
    width: .5em;
    height: .6em;
    vertical-align: middle;
    mask-size: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.link-white::after {
    background-color: #0070c9;
    mask-image: url("/images/arrow-right-thick.svg");
    -webkit-mask-image: url("/images/arrow-right-thick.svg");
}

/** Utilities **/

/* Colours */

.text-success {
    color: #22863a;
}

.text-danger {
    color: #d73a49;
}

/* Position */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* Spacing */

.m-auto {
    margin: auto;
}

.mb-4 {
    margin-bottom: 4em !important;
}

/* Text */

.text-center {
    text-align: center;
}

/* Images */

.invert {
    filter: invert(100%);
}