/*
 * Glascode v5.4 (https://glascode.github.io)
 * Maël Querré, 2019
 */
@import url('https://rsms.me/inter/inter.css');

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* useful for sticky footer */
}

html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Inter', system-ui, Arial, sans-serif;
    font-feature-settings: 'kern' 1, 'ss03' 1;
    -webkit-font-feature-settings: 'kern' 1, 'ss03' 1;
    -moz-font-feature-settings: 'kern' 1, 'ss03' 1;
    color: #000;
}

main {
    flex: 1 0 auto;
}

a {
    color: currentColor;
    text-decoration: underline;
}

/* Hero */

.hero {
    height: 80vh;
    min-height: 500px;
    padding-top: 8rem;
}

.hero-title {
    opacity: 0;
    animation: fade-up 1s forwards;
}

.hero-description {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 0;
    animation: fade-up 1s .5s forwards;
}

.section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}

.section.projects {
    padding-top: 3rem;
    color: #fff;
    background-color: #000;
}

.section-inner {
    max-width: 1040px;
    margin: auto;
}

.section-title {
    margin-bottom: 4.5rem;
    width: fit-content;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.email {
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .hero {
        height: initial;
        min-height: initial;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .hero-title,
    .hero-description {
        margin-left: 0;
    }

    .section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section.projects {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .section-title {
        font-size: 3.5rem;
        margin-left: 0;
        margin-bottom: 3rem;
    }

    .section-content {
        padding: 1rem;
    }

    .email {
        margin-left: 0;
    }
}

/* Projects */

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 3%;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.project-link {
    display: block;
    transition: transform .25s;
}

.project-link:hover {
    color: currentColor;
    transform: scale(1.03);
}

.project-info {
    margin-bottom: 1rem;
}

.project-title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.project-subtitle {
    font-size: 1.3rem;
    color: #aaa;
}

.project-date {
    margin-bottom: 0;
    font-size: 1rem;
}

.project-image-wrapper {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
}

.project-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 767px) {
    .projects-list {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
    }

    .project-title {
        margin-bottom: .3rem;
        font-size: 1.8rem;
    }
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem;
    font-size: .9rem;
    color: #fff;
    background: linear-gradient(to bottom, #000, #333);
}

@media (max-width: 767px) {
    .footer {
        padding: 3rem 1rem;
    }
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
}

.error-title {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #e7e7e7;
}

.error-description {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

@media (min-width: 768px) {
    .error-page {
        flex-direction: row;
    }

    .error-title {
        margin-right: 1.5rem;
        margin-bottom: 0;
        padding-right: 1.5rem;
        padding-bottom: 0;
        border-bottom: 0;
        border-right: 1px solid #e7e7e7;
    }

    .error-description {
        font-size: 1rem;
        font-weight: 400;
    }
}
