@import url('https://rsms.me/inter/inter-ui.css');

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(.5em);
    }
    100% {
        transform: translateY(0);
    }
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* useful for sticky footer */
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Roboto, Arial, sans-serif;
    line-height: 1.2;
    color: #111;
}

main {
    flex: 1 0 auto;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #0070c9;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.content p {
    margin-bottom: 1em;
}

/* Hero */

.hero {
    position: relative;
    height: 100%;
    min-height: 600px;
    text-align: center;
}

.hero-title {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3em;
    opacity: 0;
    animation: appear 1s forwards;
}

.hero-description {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    font-weight: 400;
    opacity: 0;
    animation: appear 1s .5s forwards;
}

.hero-title,
.hero-description {
    padding: 0 2rem;
}

.hero + .section {
    margin-top: -11rem;
}

.section {
    padding: 3rem;
}

.section-title {
    position: relative;
    margin: 0;
    font-size: 9em;
    font-weight: 700;
    letter-spacing: -.03em;
    line-height: 0.6em;
    z-index: 10;
}

.section-content {
    padding: 5rem;
}

.section-background {
    color: #fff;
    background-color: #1f4954;
}

.section-heading {
    font-family: "EB Garamond", serif;
    font-size: 4rem;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .hero-title {
        font-size: 1rem;
    }

    .section {
        padding: 1rem 0;
        margin: 0;
    }

    .section-title {
        font-size: 15vw;
    }

    .section-content {
        padding: 1rem;
    }

    .section-heading {
        font-size: 1.5rem;
    }
}

/* Projects */

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    height: 500px;
    color: #fff;
    text-decoration: none;
}

.project-title {
    font-size: 3rem;
    font-weight: 600;
}

.project-title,
.project-subtitle {
    transition: transform .2s;
}

.project-subtitle {
    margin: 1em 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.project:hover .project-title {
    transform: translateY(-.3rem);
}

.project:hover .project-subtitle {
    transform: translateY(.3rem);
}

.project-bg {
    background-color: #fafafa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#project-bg-thomasferey {
    background-image: url("/images/thomasferey.jpg");
}

#project-bg-melinequerre {
    background-image: url("/images/melinequerre.jpg");
}

@media screen and (max-width: 800px) {
    .project {
        margin-left: 0;
        margin-right: 0;
        height: 300px;
    }

    .project-title {
        font-size: 3em;
    }

    .project-subtitle {
        font-size: 1.5em;
    }
}