:root {
    --dark-color: #222222;
    --light-color: white;
    --mid-color: grey;
    --line-color: #dddddd;
    --secondary-color: #42b983;
    --secondary-color-dark: #478d69;
    --background-color: var(--light-color);
    --green: #22863a;
    --red: #d73a49;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Muli, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: var(--dark-color);
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p a {
    color: var(--secondary-color-dark);
}

p a:hover {
    text-decoration: underline;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--background-color);
    z-index: 2;
    transition: box-shadow .3s;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 20px;
}

.header a {
    color: currentColor;
}

.header a:hover {
    text-decoration: none;
}

.site-title {
    font-size: 1.3em;
}

.site-title h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    text-transform: lowercase;
}

.site-logo {
    width: 2em;
    margin-right: .5em;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: box-shadow .3s;
    }

    .site-logo {
        margin-right: 0;
    }
}

.header-inner,
.content,
.footer-inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    transition: width .2s;
}

@media screen and (max-width: 1000px) {
    .header-inner,
    .content,
    .footer-inner {
        width: 800px;
    }
}

.content p,
.content a {
    line-height: 2em;
}

.content p {
    margin-bottom: 1em;
}

.section {
    padding-top: 50px;
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 2em;
    font-family: Muli, sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.hero {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .content,
    .footer-inner {
        width: auto;
    }

    .content {
        margin-top: 0;
        padding: 0 20px;
        transition: transform .2s;
    }

    .section:last-child {
        margin-bottom: 0;
    }

    .section-title {
        font-size: 1.5em;
    }
}

/* Projects */

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;
    overflow: hidden;
    background-color: #eeeeee;
    transition: background-color .2s;
}

.project:hover {
    background-color: #dddddd;
}

.project-info {
    width: 30%;
    flex-shrink: 0;
    padding: 2em;
    text-align: center;
}

.project-title {
    font-size: 2em;
    font-weight: 600;
}

.project-subtitle {
    margin: 1em 0;
    font-weight: 400;
    color: var(--mid-color);
}

.project-illustration {
    width: 70%;
}

@media screen and (max-width: 800px) {
    .project {
        flex-direction: column;
    }

    .project-info {
        width: 100%;
        order: 2;
    }

    .project-title {
        font-size: 1.3em;
    }

    .project-illustration {
        width: 100%;
    }
}

/* Contact form */

.contact-form {
    width: 500px;
    margin: auto;
}

.form-title {
    font-size: 1.5em;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact-form .btn {
    margin-left: auto;
}

@media screen and (max-width: 800px) {
    .contact-form {
        width: auto;
    }

    .contact-form .btn {
        margin: auto;
    }
}

/* Footer */

.footer {
    position: relative;
    padding: 5em 0;
    font-size: .9em;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list:last-child {
    margin-top: 3em;
}

.footer-list a {
    color: currentColor;
    text-decoration: underline;
}

.footer-list a:hover {
    color: #555555;
}

.footer-item {
    margin-right: 2em;
}

.footer-item img {
    width: 18px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-plant {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    margin: auto;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .footer-plant {
        width: 100px;
    }
}
