:root {
    --light-color: white;
    --mid-color: grey;
    --line-color: #dddddd;
    --secondary-color: #42b983;
    --secondary-color-dark: #478d69;
    --background-color: var(--light-color);
    --green: #22863a;
    --red: #d73a49;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* useful for sticky footer */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #222;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p a {
    color: var(--secondary-color-dark);
}

p a:hover {
    text-decoration: underline;
}

img {
    opacity: 1;
    transition: opacity 0.2s;
}

img[data-src] {
    opacity: 0;
}

.header {
    width: 100%;
    z-index: 2;
}

.header-inner {
    padding: 4em 0;
}

.header a {
    color: currentColor;
}

.header a:hover {
    text-decoration: none;
}

.site-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5em;
}

@media screen and (max-width: 800px) {
    .header {
        position: sticky;
        top: 0;
    }

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
    }

    .header-inner a {
        display: block;
    }
}

.content {
    padding: 0 20px;
}

.header-inner,
.content,
.footer-inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    transition: width .2s;
}

@media screen and (max-width: 1000px) {
    .header-inner,
    .content,
    .footer-inner {
        width: auto;
        max-width: 800px;
    }
}

.content p,
.content a {
    line-height: 2em;
}

.content p {
    margin-bottom: 1em;
}

.section {
    padding-top: 50px;
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 2em;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.hero {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .content,
    .footer-inner {
        width: auto;
    }

    .content {
        margin-top: 0;
        transition: transform .2s;
    }

    .section:last-child {
        margin-bottom: 0;
    }

    .section-title {
        font-size: 1.5em;
    }
}

/* Projects */

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;
    overflow: hidden;
    background-color: #eeeeee;
    transition: background-color .2s;
}

.project:hover {
    background-color: #dddddd;
}

.project-info {
    width: 30%;
    flex-shrink: 0;
    padding: 2em;
    text-align: center;
}

.project-title {
    font-size: 1.5em;
    font-weight: 700;
}

.project-subtitle {
    margin: 1em 0;
    font-weight: 400;
    color: var(--mid-color);
}

.project-illustration {
    width: 70%;
}

@media screen and (max-width: 800px) {
    .project {
        flex-direction: column;
    }

    .project-info {
        width: 100%;
        order: 2;
    }

    .project-title {
        font-size: 1.3em;
    }

    .project-illustration {
        width: 100%;
    }
}

.plant-separator {
    display: block;
    width: 100px;
    margin: auto;
}

/* Contact form */

.contact-form {
    width: 500px;
    margin: auto;
}

.form-title {
    font-size: 1.5em;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact-form .btn {
    margin-left: auto;
}

@media screen and (max-width: 800px) {
    .contact-form {
        width: auto;
    }

    .contact-form .btn {
        margin: auto;
    }
}

/* Footer */

.footer {
    flex-shrink: 0;
    position: relative;
    padding: 5em 0;
    font-size: .9em;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list:last-child {
    margin-top: 3em;
}

.footer-list a {
    color: currentColor;
    text-decoration: underline;
}

.footer-list a:hover {
    color: #555555;
}

.footer-item {
    margin-right: 2em;
}

.footer-item img {
    width: 18px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-plant {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    margin: auto;
    z-index: -1;
}

.footer-link {
    position: relative;
}

.footer-link::before,
.footer-link::after {
    opacity: 0;
    transition: opacity .1s;
}

.footer-link:hover::before,
.footer-link:hover::after {
    opacity: 1;
}

.footer-link::after {
    content: attr(title);
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    padding: .4em .8em;
    font-size: .9em;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .8);
}

.footer-link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 14px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
    z-index: 99;
}

@media screen and (max-width: 800px) {
    .footer-plant {
        width: 100px;
    }
}
