@keyframes blinker {
    to {
        visibility: hidden;
    }
}

.blink {
    animation: blinker 1s steps(2, start) infinite;
}

html {
    line-height: 1.6;
    background: #262626;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #fff;
    font-family: "SFMono-Regular", "Fira Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 17px;
    padding-bottom: 7em; /* prevent content from hitting the footer */
}

::selection {
    color: #262626;
    background: #ffe211; /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #262626;
    background: #ffe211; /* Gecko Browsers */
}

a, a:visited {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #d62d3d;
    text-decoration: underline;
}

.header-container {
    display: flex;
    width: 100%;
}

header {
    display: block;
    width: 200px;
    text-align: center;
    z-index: 3;
}

header h1 {
    margin: 0;
    font-size: 1em;
}

header h1 a, header h1 a:visited {
    display: block;
    padding: 15.5px;
    color: #fff;
    text-decoration: none;
    background-color: #a82330;
    border: 1px solid #a82330;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

header h1 a:hover {
    color: #eee;
    text-decoration: none;
    background-color: #851c26;
    border: 1px solid #851c26;
}

h2, h3, h4, h5 {
    line-height: 1.2;
    color: #fff;
}

/* Navigation menu */
.nav-container {
    line-height: 60px;
    width: 100%;
    z-index: 2;
}

.nav-container nav {
    float: right;
    max-width: 800px;
    margin: 0 auto;
}

.nav-container nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-container nav ul li {
    float: left;
    position: relative;
    padding: 1em;
}

.nav-container nav ul li a {
    display: block;
    padding: .2em .5em;
    line-height: 20px;
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-container nav ul li a:hover,
.nav-container nav ul li a:active,
.nav-container nav ul li a.current {
    text-decoration: none;
    color: #262626;
    background-color: #eee;
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    z-index: 2;
}

/* Mobile style */
@media screen and (max-width: 800px) {
    /* Display the hamburger nav-toggle button */
    .nav-mobile {
        display: block;
    }

    .nav-container nav {
        width: 100%;
        padding: 60px 0 15px;
    }

    .nav-container nav ul {
        display: none;
    }

    .nav-container nav ul li {
        float: none;
        padding: 0 0 2px 0;
    }

    .nav-container nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
}

/* Nav toggle hamburger button */
#nav-toggle {
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 10px 30px 14px 0;
    cursor: pointer;
}

#nav-toggle:hover {
    color: #fff;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    left: 0;
    background-color: currentColor;
    transition: all .3s;
}

#nav-toggle span::before {
    top: -10px;
}

#nav-toggle span::after {
    top: 10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span::before {
    -webkit-transform: translateY(10px) rotate(45deg);
    -moz-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

#nav-toggle.active span::after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

/* Content */
main {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 800px;
}

/* Footer */
footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 4em;
    font-size: .6rem;
    border-top: 1px solid #fff;
    background-color: #262626;
    text-align: center;
}

@media screen and (min-width: 800px) {
    footer {
        font-size: .7rem;
        text-align: left;
    }
}

