:root {
    --dark-color: #2c3e50;
    --light-color: white;
    --mid-color: grey;
    --line-color: #dddddd;
    --secondary-color: #42b983;
    --background-color: var(--light-color);
    --green: #22863a;
    --red: #d73a49;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: var(--dark-color);
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 5em;
    background: var(--background-color);
    z-index: 1;
    transition: box-shadow .3s;
}

.header a {
    color: currentColor;
}

.header a:hover {
    text-decoration: none;
}

.site-title {
    font-size: 1.3em;
}

.site-title h1 {
    display: inline-block;
    vertical-align: middle;
}

.site-logo {
    width: 2em;
    margin-right: .5em;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        transition: box-shadow .3s, height .3s;
    }

    .site-title h1 {
        display: none;
    }

    .site-logo {
        margin-right: 0;
    }
}

.content,
.footer-elements {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding-bottom: 50px;
}

.content p,
.content a {
    line-height: 1.7rem;
}

.content p {
    margin-bottom: 1em;
}

.section {
    margin-bottom: 100px;
}

.section-title {
    font-family: "Source Serif Pro", serif;
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 3rem;
}

.par-image {
    width: 100px;
}

.par-image.right {
    float: right;
    margin-left: 2em;
}

@media screen and (max-width: 800px) {
    .content,
    .footer-elements {
        width: auto;
    }

    .content {
        margin-top: 0;
        transition: transform .2s;
    }

    .section {
        padding: 0 1em;
    }

    .section:last-child {
        margin-bottom: 0;
    }

    .section-title {
        font-size: 3em;
    }
}

/* Projects */

.project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    border-bottom: 1px solid var(--line-color);
}

.project-illustration {
    width: 40%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}

.project-info {
    width: 30%;
    flex-shrink: 0;
    font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
    .project-info {
        font-size: 1rem;
    }
}

.project-title {
    font-size: 2em;
    font-weight: 600;
}

.project-subtitle {
    margin: 1em 0;
    font-weight: 400;
    color: var(--mid-color);
}

.contact-form {
    width: 500px;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .contact-form {
        width: auto;
    }
}

.form-title {
    font-size: 1.5em;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact-form .button {
    margin-left: auto;
}

/* Footer */

.footer {
    padding: 4em 0;
    font-size: .9em;
    color: rgba(255, 255, 255, .8);
    background: var(--dark-color);
}

.footer-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list a {
    color: currentColor;
    text-decoration: underline;
}

.footer-list a:hover {
    color: white;
}

.footer-item {
    margin-right: 2em;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-logo-link {
    opacity: .8;
    transition: opacity .2s;
}

.footer-logo-link:hover {
    opacity: 1;
}

.footer-logo {
    width: 2em;
}

@media screen and (max-width: 800px) {
    .footer-elements {
        flex-direction: column;
    }

    .footer-logo-link {
        order: 1;
    }

    .footer-list:first-child {
        order: 2;
        margin: 2em 0;
    }

    .footer-list:last-child {
        order: 3;
    }
}

