@keyframes blinker {
    to {
        visibility: hidden;
    }
}

.blink {
    animation: blinker 1s steps(2, start) infinite;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #262626;
}

body {
    margin: 0;
    color: #fff;
    font-family: "SFMono-Regular", "Fira Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 17px;
    padding-bottom: 7em; /* prevent content from hitting the footer */
}

::selection {
    color: #262626;
    background: #ffe211; /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #262626;
    background: #ffe211; /* Gecko Browsers */
}

a, a:visited {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #d62d3d;
    text-decoration: underline;
}

#header-container {
    display: flex;
    width: 100%;
}

header {
    width: 200px;
    text-align: center;
    z-index: 3;
}

header h1 {
    margin: 0;
    font-size: 1em;
}

h1 a, h1 a:visited {
    display: block;
    padding: .9em;
    color: #fff;
    text-decoration: none;
    background-color: #a82330;
    border: 1px solid #a82330;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

h1 a:hover {
    color: #eee;
    text-decoration: none;
    background-color: #851c26;
    border: 1px solid #851c26;
}

h2, h3, h4, h5 {
    line-height: 1.2;
    color: #fff;
}

/* Navigation menu */

#navigation {
    z-index: 2;
    width: 100%;
}

#navigation nav {
    max-width: 1000px;
    margin: 0 auto;
}

#navigation nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navigation nav ul li {
    float: left;
    position: relative;
    padding: 1em;
}

#navigation nav ul li a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: .2em .5em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: -1px;
}

#navigation nav ul li a:hover,
#navigation nav ul li a:active,
#navigation nav ul li a.current {
    text-decoration: none;
    color: #262626;
    background-color: #eee;
}

#navigation nav:after {
    content: '';
    display: table;
    clear: both;
}

/* Content */

main {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 800px;
}

time {
    color: #898989;
}

/* Footer */

footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 4em;
    font-size: .7em;
    border-top: 1px solid #fff;
    background-color: #262626;
}

