@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(1em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* useful for sticky footer */
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Roboto, Arial, sans-serif;
    line-height: 1.2;
    color: #fff;
    background-color: #000;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #0070c9;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.content p {
    margin-bottom: 1em;
}

/* Hero */

.hero {
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-title {
    margin-bottom: 3rem;
    font-size: 6em;
    font-weight: 600;
    opacity: 0;
    animation: appear 1s forwards;
}

.hero-description {
    font-size: 2em;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: .5s;
}

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 3em;
    margin-left: -1.5em;
    width: 3em;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 1s;
}

@media screen and (max-width: 500px) {
    .hero {
        width: 85%;
        margin: auto;
        height: 90vh;
        min-height: 90vh;
    }

    .hero-title {
        font-size: 3em;
    }

    .hero-description {
        font-size: 1.5em;
    }
}

/* Projects */

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 2% 4em;
    height: 500px;
}

.project::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .8s;
    z-index: 0;
}

.project-title {
    font-size: 4em;
    font-weight: 600;
    z-index: 1; /* Overlay the black layer on hover */
}

.project-subtitle {
    margin: 1em 0;
    font-size: 2em;
    font-weight: 400;
    z-index: 1; /* Overlay the black layer on hover */
}

.project:hover .project-title {
    text-decoration: underline;
}

.project:hover::after {
    opacity: .3;
}

#project--thomasferey {
    background: url("/images/thomasferey.jpg") center no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .project {
        margin-left: 0;
        margin-right: 0;
    }

    .project-title {
        font-size: 3em;
    }

    .project-subtitle {
        font-size: 1.5em;
    }
}

/* Footer */

.footer {
    flex-shrink: 0;
    position: relative;
    font-size: .9em;
    background-color: #111;
}

.footer-inner {
    padding: 5em 0;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-list:last-child {
    margin-top: 5em;
}

.footer-item {
    margin-right: 5em;
    margin-bottom: 3em;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-list:first-child .footer-item:first-child {
    margin-left: 4rem; /* Compensate for centering */
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: currentColor;
}

.footer-logo {
    height: 3em;
    margin-bottom: 2em;
    transition: opacity .3s;
}

.footer-link:hover .footer-logo {
    opacity: .5;
}

.footer-logo-text {
    opacity: .5;
}

.footer-link:hover .footer-logo-text {
    text-decoration: underline;
}

/* Landscape smartphones and below */
@media screen and (max-width: 480px) {
    .footer-inner {
        padding: 3em 0;
    }

    .footer-list {
        flex-direction: column;
    }

    .footer-item {
        margin: 0 0 3em !important;
    }

    .footer-logo {
        margin-bottom: 1em;
    }

    .footer-list:last-child {
        margin-top: 3em;
    }
}