@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Muli:400,700");

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #262626;
}

body {
    margin: 0;
    color: #fff;
    font-family: Menlo, Muli, sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 1em;
}

h1 a, h1 a:visited {
    text-decoration: none;
}

h2 {
    font-size: 2em;
}

h2, h3 {
    font-weight: 600;
    color: #fff;
    font-family: Menlo, Montserrat, sans-serif;
    line-height: 1.5;
}

a, a:visited {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #19CCAA;
    text-decoration: underline;
}

#header-container {
    display: flex;
    width: 100%;
}

header {
    background: darkmagenta;
}

/* Navigation menu */

#navigation {
    background: #262626;
    z-index: 2;
    width: 100%;
    box-shadow: 0 1px 1px RGBA(4, 25, 54, 0.1);
}

#navigation nav {
    float: left;
    max-width: 800px;
    margin: 0 auto;
}

#navigation nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navigation nav ul li {
    float: left;
    position: relative;
    padding: 15px;
}

#navigation nav ul li a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: .2em .5em;
    font-family: Menlo, Muli, sans-serif;
    line-height: 20px;
    margin-bottom: -1px;
}

#navigation nav ul li a:hover, #navigation nav ul li a:active {
    text-decoration: none;
    color: #262626;
    background-color: #eee;
}

#navigation nav:after {
    content: '';
    display: table;
    clear: both;
}

/* Content */

main {
    padding: 0 15px;
    max-width: 800px;
    margin: 0 auto;
}

time {
    color: #898989;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */

footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em 4em;
    font-size: .6em;
    border-top: 1px solid #fff;
    background-color: #262626;
}

