#hamburger-container {
    display: none;
    position: absolute;
    top: 24px;
    right: 16px;
    padding: 16px;
    cursor: pointer;
}

#hamburger {
    position: relative;
    margin: 0;
    cursor: pointer;
    z-index: 5;
}

#hamburger,
#hamburger::before,
#hamburger::after {
    width: 25px;
    height: 2px;
    background-color: currentColor;
    transition: transform .3s;
}

#hamburger::before,
#hamburger::after {
    content: '';
    position: absolute;
}

#hamburger::before {
    top: -8px;
}

#hamburger::after {
    top: 8px;
}

.active #hamburger {
    background: none;
}

.active #hamburger::before {
    -webkit-transform: translateY(8px) rotate(-45deg);
    -moz-transform: translateY(8px) rotate(-45deg);
    -ms-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
}

.active #hamburger::after {
    -webkit-transform: translateY(-8px) rotate(45deg);
    -moz-transform: translateY(-8px) rotate(45deg);
    -ms-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 1px;
    list-style: none;
}

.nav-item {
    padding-right: 4em;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-link {
    position: relative;
    padding: 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.8em;
    width: 100%;
    height: 1px;
    background: var(--secondary-color-dark);
    opacity: 0;
    transition: opacity .2s;
}

.nav-link:hover::after,
.nav-link.current::after {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    #hamburger-container {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 100px;
        left: 40%;
    }

    .nav-list {
        flex-direction: column;
        font-size: 1.3em;
    }

    .nav-item {
        padding: 0;
        margin-bottom: 1em;
    }

    .nav-link::after {
        bottom: .4em;
        left: -18px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}
