<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Site personnel de Maël Querré.">

    <!-- Open Graph Protocol -->
    <meta property="og:image" content="/images/favicon.png">
    <meta property="og:title" content="Maël Querré">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Site personnel de Maël Querré.">
    <meta property="og:url" content="https://glascode.github.io/">

    <title>Maël Querré</title>

    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">
</head>
