<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="Maël Querré, étudiant en informatique, développement web.">

    <!-- Open Graph Protocol -->
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:title" content="Maël Querré · Développement web">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="Maël Querré, étudiant en informatique, développement web.">
    <meta property="og:url" content="https://glascode.github.io/">


    <title>
        {% if page.title %}
        {{ " · Maël Querré" | prepend: page.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <link rel="shortcut icon" href="/images/icons/favicon.png">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i|Source+Serif+Pro:400,600,700">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/syntax.css">
    {% if page.style %}
    {% capture stylelink %}/css/{{ page.style }}.css{% endcapture %}
    <link rel="stylesheet"
          href="{{ stylelink | prepend: site.baseurl }}">
    {% endif %}
</head>
