<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% if page.title %}
        {{ " | Glascode" | prepend: page.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Raleway|Playfair+Display:400,700"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{{ '/styles/main.css' | prepend: site.baseurl }}">

    <link rel="stylesheet"
          href="{{ '/styles/syntax.css' | prepend: site.baseurl }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
</head>
