@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  margin: 0;
  color: $font-color;
  font-family: $mono;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #00a;
  background-color: #eee;
}

time {
  color: #898989;
}

.blink {
  animation: blinker 0.5s linear infinite;
}

/* Navigation menu */

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  nav {
    float: left;
    max-width: 800px;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        position: relative;
        padding: 15px;
        a {
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          padding: .2rem .5rem;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: initial;
          &:hover,
          &:active {
            text-decoration: none;
            color: #00a;
          }
        }
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

main {
  width: 100%;
  color: #fff;
  background-color: #00a;
  article {
    display: flex;
    justify-content: center; // horizontal centering
    align-items: center; // vertical centering
    font-weight: bold;
    height: 90vh;
    .whole-page-container {
      width: $content-width;
      h1 {
        text-align: center;
        span {
          color: #00a;
          background-color: #eee;
          padding: .1rem .5rem;
        }
      }
      .align-right {
        text-align: right;
      }
    }
  }
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
}