<!DOCTYPE html>
<html lang="fr-FR">
{% include head.html %}

<body>

<main>
    {% include header.html %}

    <nav class="navigation">
        <ul class="nav-list">
            {% for category in site.data.categories %}
            <li class="nav-item">
                <a class="nav-link" href="{{ category.url }}">
                    {{ category.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="content">
        {{ content }}
    </div>
</main>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
</body>

</html>