<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!-- Mobile adaptation -->
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif
        %}</title>

    <!-- Icon -->
    <link rel="icon"
          type="image/png"
          href="{{ '/images/icons/g-icon.png' | prepend: site.baseurl }}"/>

    <!-- General style -->
    <link rel="stylesheet"
          href="{{ '/styles/four-oh-four.css' | prepend: site.baseurl }}">

    <link rel="stylesheet"
          href="{{ '/styles/ui-components.css' | prepend: site.baseurl }}">

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>

<body>

<div class="finder-window">
    <div class="status-buttons">
        <span class="status-button unavailable" title="Close">
            <i class="material-icons">close</i>
        </span>
        <span class="status-button partially-available" title="Minimize">
            <i class="material-icons">remove</i>
        </span>
        <span class="status-button available" title="Zoom">
            <i class="material-icons">add</i>
        </span>
    </div>
    <nav>
        <h3>Categories</h3>
        <ul>
            {% for item in site.data.categories %}
            <li>
                <a href="{{ item.url }}" alt="{{ item.title }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <main>
        {{ content }}
    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ '/scripts/404.js' | prepend: site.baseurl }}"></script>
</body>

</html>