@keyframes blinker {
    to {
        visibility: hidden;
    }
}

.blink {
    /*animation: blinker 0.5s linear infinite;*/
    animation: blinker 1s steps(2, start) infinite;
}

html {
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    color: #262626;
    background: #ffe211; /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #262626;
    background: #ffe211; /* Gecko Browsers */
}

body {
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mac-window {
    position: relative;
    display: flex;
    width: 50%;
    height: 400px;
    min-width: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 30px 100px #ccc;
    background-color: #fcfcfc;
}

.status-buttons {
    position: absolute;
    top: 24px;
    left: 24px;
    width: calc(3 * 12px + 2 * 15px);
    height: 12px;
}

.status-button {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #E1E1E1;
}

.status-button i {
    position: absolute;
    font-size: 10px;
    display: none;
    cursor: default;
}

.active .status-button i {
    display: block;
}

.status-button.unavailable {
    border: 1px solid #e14745;
    background-color: #fa4b49;
}

.status-button.unavailable i {
    color: #751112;
}

.status-button.partially-available {
    border: 1px solid #ebaf3e;
    background-color: #fdbe41;
    left: calc(12px + 15px);
}

.status-button.partially-available i {
    color: #985712;
}

.status-button.available {
    border: 1px solid #32b447;
    background-color: #34c849;
    left: calc((12px + 15px) * 2);
}

.status-button.available i {
    color: #0a630c;
}

/* Navigation */

nav {
    width: 30%;
    min-width: 150px;
    margin-top: 30px;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
}

nav h3 {
    padding-left: 8px;
    font-size: .8em;
    text-transform: uppercase;
    color: #879099;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    padding: .7em 0;
}

nav ul li a,
nav ul li a:visited {
    color: #404040;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
}

nav ul li a:hover, .current a {
    color: #fff;
    background: linear-gradient(to bottom right, #2da6fc, #2ed5fd);
}

main {
    width: 70%;
    min-width: 300px;
    padding: 60px;
    box-shadow: -5px 0 20px -5px #eee;
}

main h1 {
    margin-top: .3em;
}

main h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: #9aa4ae;
}

main h2 i.material-icons {
    display: none;
}

.help-icon {
    position: absolute;
    bottom: 25px;
    right: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid lightgray;
    font-weight: 500;
    color: #2a9ced;
    background-color: #fff;
    cursor: default;
}

@media screen and (max-width: 800px) {
    body {
        color: #111111;
        padding: 2em 0 0;
    }

    .status-button {
        display: none;
    }

    .mac-window {
        padding: 0 0 0 1em;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
    }

    .mac-window, main {
        box-shadow: none;
    }

    main {
        width: 100%;
        order: -1;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    main h1 {
        order: -1;
    }

    main h2 {
        position: relative;
        width: 95%;
        padding: 5px 5px 5px 30px;
        font-weight: 400;
        border-radius: 5px;
        background-color: #f2f2f4;
    }

    main h2 i.material-icons {
        position: absolute;
        left: 5px;
        display: inline-block;
        font-size: 1.2em;
    }

    nav {
        width: 100%;
        padding: 0;
    }

    nav h3 {
        margin: auto;
        padding: 0;
        color: currentColor;
        font-size: 1.3em;
        text-transform: initial;
    }

    nav ul li {
        padding: initial;
    }

    nav ul li a,
    nav ul li a:visited {
        display: block;
        width: 100%;
        padding: 1em 0 1em .2em;
        color: currentColor;
        border-top: 1px solid #dfdfdf;
    }

    nav ul li:last-child a {
        border-bottom: 1px solid #dfdfdf;
    }

    nav ul li a {
        border-radius: initial;
    }

    nav ul li a:hover, .current a {
        width: 100%;
        color: currentColor;
        background: #f2f2f4;
    }

    .help-icon {
        bottom: 0;
    }
}
