section {
    height: 100vh;
    font-size: 3em;
    background-color: #1e2030;
}

section h1 {
    margin: auto;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
}