@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial,
    sans-serif;;
}