*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

a {
    color: currentColor;
    text-decoration: none;
}

p, .link {
    line-height: 1.9;
}

.link {
    display: inline-block;
    position: relative;
    padding: 0 1px;
    transition: color .3s;
    z-index: 1;
}

.link:hover {
    color: white;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 2px;
    height: .1em;
    background: mediumseagreen;
    transition: all .3s;
    z-index: -1;
}

.link:hover::after {
    height: 100%;
}

.header {
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.site-title {
    padding: .5em 0;
    font-size: 3em;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.page-title {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: bold;
}

.navigation {
    width: 100%;
    padding: 1em 0;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

.nav--list {
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    list-style: none;
}

.nav--item {
    padding: 0 2em;
    letter-spacing: 1px;
}

.nav--link {
    position: relative;
    padding: 0;
}

.nav--link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.8em;
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 0;
    transition: opacity .15s;
}

.nav--link:hover::after,
.nav--link.current::after {
    opacity: 1;
}

.content {
    width: 800px;
    margin: 0 auto;
}

.footer {
    padding: 4em 0;
    font-size: .9em;
    text-align: center;
    color: white;
    background: black;
}

.footer--item {
    padding: 0 1em;
}