/*
 * Typography styles
 */

/* Headings */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: underline;
}

.content p {
    margin-bottom: 1em;
}
